{% extends "bookmarklet/base.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Reminiscence-Bookmarklet</h1>
<!-- debug info
    <ul>
        <li> {% url 'bookmarklet:show' %} </li>
        <li> {% url 'bookmarklet:get' %} </li>
        <li> {% url 'bookmarklet:add_url' %} </li>
    </ul>
-->
    <p> sends the current page to a Reminiscence instance by a single click.</p>

    <p>Drag this to your bookmarks toolbar: <a id="bookmarklet" href="">AddToReminiscence</a></p>
    <script>
        fetch(`{% url 'bookmarklet:get' %}`)
        .then(function(response) {
            return response.text();
        })
        .then(function(text) {
            document.querySelector('#bookmarklet').
            setAttribute('href','javascript:' + 
            text.replace(/\s/g,''));
    });
    </script>
    <h3> HOWTO - Chromium (Desktop) </h3>
    <div class="note">
        <ol>
            <li> Login to your Reminiscence instance </li>
            <li> Make sure your browser displays the Bookmarks Bar by pressing <code>CTRL-Shift-B</code></li>
            <li> Once your bookmarks bar is visible, drag and drop the Bookmarklet-link from above into to your bookmarks toolbar </li>
            <li> Now you can start archiving sites for your ReminiscenceInstance by a single click (means: ckick the "AddToReminiscence"-bookmark while visiting a URL you want to archive). </li>
        </ol>
    </div>

{% endblock content %}
